%div.container
  %h1 Items#edit


  = form_for @item, url: {action: "update"}, html: {class:"update_item_form col-md-6"} do |f|
    %fieldset.form-group
      = f.label :title
      = f.text_field(:title, value: @item.title, class: "form-control")
    %fieldset.form-group
      = f.label :price
      = f.text_field(:price, value: @item.price, class: "form-control")
    %fieldset.form-group
      = f.label :description
      = f.text_area(:description, value: @item.description, size: "24x6", class: "form-control")
    %fieldset.form-group
      = f.label :quantity
      = f.number_field :quantity, class: 'form-control'
    %fieldset.form-group
      %p.text-center= f.label :categories
      - @categories.each do |category|
        - if @item.has_category?(category)
          %input{name: "category[#{category.id}]", type: "checkbox", value: "checked", checked: "" }
        - else
          %input{name: "category[#{category.id}]", type: "checkbox", value: "checked"}
        = category.name
    = f.submit(value: "Update Your Item", class: "btn btn-primary")

= link_to 'Back to Home Page', items_path
%br/
= link_to 'Return to Inventory mangement', admin_items_path
