%div.container
  %h1 Add a new item
  = if flash[:error]
    %div #{flash[:error]}

  = form_for @item, url: {action: "create"}, html: {class:"submit_item_form"} do |f|
    %fieldset.form-group
      = f.label :title
      = f.text_field :title, class: 'form-control'
    %fieldset.form-group
      = f.label :price
      = f.text_field :price, class: 'form-control'
    %fieldset.form-group
      = f.label :description
      = f.text_area(:description, placeholder: "Please enter your item details", size: "24x6", class: "form-control")
    %fieldset.form-group
      = f.label :quantity
      = f.number_field :quantity, class: 'form-control'
    %fieldset.form-group
      %p.text-center= f.label :categories
      - @categories.each do |category|
        - if @item.has_category?(category)
          %input{name: "category[#{category.id}]", type: "checkbox", value: "checked", checked: "" }
        - else
          %input{name: "category[#{category.id}]", type: "checkbox", value: "checked"}
        = category.name
    = f.submit "Submit Your Item For Sale", class: "btn btn-primary"



