%div.container
  %h1 We want to show off this item to you.
  %h3
    Item For Sale: #{@item.title}
  %p
    About: #{@item.description}
  %p
    Quantity in Stock: #{@item.quantity}
  %p.price
    $#{@item.price}
  = link_to 'Edit item', edit_admin_item_path, :class => "btn btn-primary"
  = link_to 'Delete item', admin_item_path, method: :delete, :class => "btn btn-danger"
