= link_to 'Back to Home Page', items_path

%h1 This Is Your Stupendous Shopping Cart

= @order.user.username

- @order.purchased_items.each do |purchased_item|
  %p
    Item: #{purchased_item.item.title}
    %p
      %p
        Quantity #{purchased_item.quantity}
      %p
        Price: #{purchased_item.item.price}
      %p= link_to 'Edit this Item', edit_purchased_item_path(purchased_item)
      %p= link_to 'Remove all of this Item', purchased_item_path(purchased_item),
        method: :delete,
        data: { confirm: 'Are you sure?' }

%p
  Your Total: #{@order.purchase_total}

= link_to 'Edit the Shopping Cart', edit_order_path(@order)
