%div.container
  %h1 We want to show off this item to you.
  %h3
    Item For Sale: #{@item.title}
  %p
    About: #{@item.description}
  %p
    Quantity in Stock: #{@item.quantity}
  %p
    Categories:
    - @item.categories.each do |category|
      = category.name
  %p.price
    $#{@item.price}




