%div.container
  %h1 We want to show off this item to you.
  %h3
    Item For Sale: #{@item.title}
  %p
    %img{:alt => "Buy this thing", :height => "200", :src => @item.picture_link, :width => "200", :class => "img-circle"}
  %p
    About: #{@item.description}
  %p
    Quantity in Stock: #{@item.quantity}
  %p.price
    $#{@item.price}

= link_to 'Back to Home Page', items_path



