!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Shoppe
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin: "anonymous"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
%body
  %nav
    - if session[:id] != nil #logged_in?
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to "Log out", logout_path, method: :delete
    - else
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{:href => "/sessions/new"} Log In
        %li
          %a{:href => "/users/new"} Register
  %div
    - flash.each do |name, msg|
      = content_tag :div, msg, class: name
  %main
    = yield
